img {
    width: 2em;
}
#socials {
    display: flex;
    flex-direction: row;
    column-gap: 6em;
    align-items: center;
    justify-content: center;
}
@media only screen and (max-width: 1000px) {
    #socials {
        display: flex;
        flex-direction: column;
        row-gap: 2em;
    }
    img {
        width: 1.3em;
    }
}

#socials div {
    /* Inital div */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#socials div div {
    /* actual div with socials */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    column-gap: 20px;
}

.particle {
    fill: orange;
    stroke: black;
}
